<%= render 'filter_area' %>
<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-4 col-xs-12">
      <div class="productBox">
        <%= link_to potepan_product_path(product.id) do %>
          <div class="productImage clearfix">
            <%= image_tag(product.display_image.attachment(:product), :alt => "image of #{product.name}") %>
          </div>
          <div class="productCaption clearfix">
            <h5 class='grid_menu_product_name'><%= product.name %></h5>
            <h3 class='grid_menu_price'><%= product.display_price %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
